actor.rec
actor.json
actor*.log

test.*

contour.json
representation.json
distributions.json

WBOT02
WBOT02.txt
WBOT02.log

*.ac
*.rep
*.rec
*.gz
*.zip

VID_20220420_103940756.mp4
VID_20220420_104301506.mp4

videos
videos/*
